
.container {
    width: 55vh;
    height: 85vh;
    border-radius: 16px;
    padding: 16px;
    background-color: gainsboro;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100%;
    width: 100%;
    gap: 10px;
  }
  