.btn {
    display: grid;
    place-content: center;
    background-color: rgb(54, 52, 52);
    border-radius: 15px;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  
  .light-gray {
    background-color: gray;
    color: black;
  }
  
  .orange {
    background-color: orange;
  }

  .btn:hover {
    background-color:#eeeeee;
    color: black;
  }
  
  .zero {
    grid-column: 1 / span 2;
    border-radius: 15px;
    place-content: unset;
    align-items: center;
    padding-left: 32px;
  }